@import url('https://fonts.googleapis.com/css2?family=Public+Sans&family=Ubuntu&display=swap');

/* Custom Color Variables */
:root {
  --main-white: #f0f0f0;
  --main-red: #be3144;
  --main-blue: #45567d;
  --main-gray: #303841;
}

/* Base Reset */
* {
  margin: 0;
  padding: 0;
}
